/* Whole document: */

.navbar-default {
    background-color: black;
    border: none;
}

body {
	font-size: 19px;
}

h1, h2, h3, h4, h5 {
  padding-top: 2em !important;
  margin-top: -1em !important;
  margin-bottom: 0.75em;
}


 .container-fluid {   /* margin: 0 Left-aligns container; margin: auto to "center" (Default)*/
    margin-right: auto !important; 
    margin-left: auto !important;
} 


.row-fluid{
  display: flex;
  position: relative;
}

/*
.col-xs-12 .col-sm-4 .col-md-3{
  width: 25%;
  position: relative;
}

/*TOCIFY code*/


div.tocify {
    width: 100% !important;
    max-width: 260px;
    max-height: 85%;
    font-size: 16px;
} 


.tocify {
  border: none;
  position: -webkit-sticky;
  position: sticky; 
  top: 60px; 
  width: 100%;
}

#TOC {
  position: -webkit-sticky !important;
  position: sticky !important;
}


.toc-content {
  width: 75%
}



.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: white;
    border: none;
    color: gray;
}

.list-group-item:hover {
    z-index: 2;
    color: DarkSlateGray;
    background-color: white;
    border: none;
}

.list-group-item.active{
    z-index: 2;
    color: black;
    background-color: white;
    border: none;
}

.list-group-item.active:focus {
    z-index: 2;
    color: black;
    background-color: white;
    border: none;
}

.list-group-item.active:hover {
  z-index: 2;
  color: DarkSlateGray;
  background-color: white;
  border: none;
}


.foot_image {
  width: 50px;
  filter: grayscale(0%);
  margin-left: 1em;
  margin-right: 1em;
}

.foot {
  font-size: .75em;
  text-transform: uppercase;
  color: #808080;
  text-align: center;
}

.foot hr{
  width: 80%;
}


.tocify-extend-page {
  height: 0px !important; /* Gets rid of extra space after footer*/
}

body, html {
  height: 100%;
}

/* LARGE HERO IMAGE AT TOP OF PAGE*/
.image-descript {
    position: relative;
    margin-bottom: 2em;
}


.big_image {
  margin-top: -50px;
  margin-bottom: 2em;
  width: 100%;
  height: 600px;
  object-fit: cover;
}


.big-image-text {
  letter-spacing: 0.065em;
  line-height: 1 em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #fff;
  margin-bottom: 3rem;
  font-weight: bold;
}


.color-overlay { /* darkens image 10% so white text is readable */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.1);
  
}

.image-text{
    position: absolute;
    top:30%;
    left:0;
    right:0;
    bottom:0;
    padding-left: 1em;
    padding-right: 1em;
  }
  
.lil-image-text { 
    color: white;
    margin-top: 0px;
      margin-right: auto;
      margin-bottom: 20px;
      margin-left: auto;
    padding-top: 0px;
    text-align: center; 
    display:block;
    font-family: 'Lora', serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-style: italic;
      font-weight: normal;
      color: #fff;
  }


